<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a6530729.a04_calculo_de_rea">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icone"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icone"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DadosCirculoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".DadosTrianguloActivity" android:screenOrientation="portrait"/>
        <activity android:name=".DadosRetanguloActivity" android:screenOrientation="portrait"/>
        <activity android:name=".CirculoResultadoctivity" android:screenOrientation="portrait"/>
        <activity android:name=".TrinaguloResultadoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".RetanguloResultadoActivity" android:screenOrientation="portrait"></activity>
    </application>

</manifest>